.navigation {
  display: flex;
  padding: 0.5rem 2rem;
}

@media screen and (min-width: 1000px) {
  .navigation {
    margin: 0 6rem;
  }
}

.navigation .navigation__links {
  flex: 0 1 auto;
  margin-left: auto;

  list-style: none;
  display: flex;
}
.navigation .navigation__links li + li {
  margin-left: 2rem;
}
.navigation a {
  border: 0;
}
